@model IEnumerable<TodoList.Models.WorkItem>

@{
    ViewBag.Title = "Index";
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>CreateDate</th>
            <th>Finished</th>
            <th>UserId</th>
            <th>Memo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Subject</td>
                <td>@item.CreateDate</td>
                <td>@item.Finished</td>
                <td>@item.UserId</td>
                <td>@item.Memo</td>
                <td>@Html.ActionLink("編輯","Edit",new { Id = item.Id})</td>
                <td>@Html.ActionLink("刪除","Delete",new { Id = item.Id})</td>
            </tr>
        }

    </tbody>
</table>